#footer
  %a{ :href => '/about', :title => 'About' } about
  |
  %a{ :href => '/comments', :title => 'Comments/Suggestion' } comments/suggestions?
  |
  %a{ :href => '/contact', :title => 'Contact' } contact