#podcast-box
  %center
    %form{ :action => '/listen', :method => 'get' }
      RSS URL:
      %input{ :type => 'text', :name => 'url', :value => "" }
      %input{ :type => 'submit', :value => '&raquo;' }

#line
  %a#go-to-url{ :class => 'thickbox', :href => '/#TB_inline?height=75&width=575&inlineId=podcast-box' } Go to Podcast &rarr;

