#player
  %object{ :type => 'application/x-shockwave-flash', :data => '/music/multi.swf', :width => 450, :height => 300 }
    %param{ :name => 'movie', :value => '/music/multi.swf' }
    %param{ :name => 'bgcolor', :value => '#ffffff' }
    %param{ :name => 'FlashVars', :value => "mp3=#{@mp3_string}&title=#{@title_string}&width=450&amp;height=300&config=/player.config" }

#info
